body {
	background-color: #FFFFF0;
}
	
p {
	font-family: "Crete Round";
	font-size: 14px;
	text-align: center;
}

h1{
	font-family: "Crete Round";
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

h2{
	font-family: "Crete Round";
	font-size: 17px;
	font-weight: 500;
	text-align: center;
}

/* Need to prevents navbar from compressing on smaller resolutions */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  font-weight: 700;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

#content-top {
    border-radius: 35px 35px 10px 10px;
    background: #4CAF50;
    padding: 10px;
}

#content-mid {
    border-radius: 10px;
    border: 2px solid #4CAF50;
    padding: 10px;
	width: auto;
	text-align: center;
}

#content-bot {
	display: inline;
	padding: 0px 10px;
}

#content-bot-frame {
	border-radius: 10px 10px 35px 35px;
    border: 2px solid #4CAF50;
    padding: 10px;
	text-align: center;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
} 